@page "/decks/all";
@using CardDungeonBlazor.Models;
@using CardDungeonBlazor.Controls;
@inject CardDungeonBlazor.Data.ApplicationDbContext dbcontext;
@inject NavigationManager navManager;

<h3>AllCards</h3>

<MudGrid>
    @foreach (var deck in Model.Decks)
    {
        <MudItem Class="d-flex align-center justify-center mud-width-full py-8" xs=3>
            <MudCard>
                <MudCardMedia Image="@deck.ImageUrl" />
                <MudCardContent>
                    <MudText Typo="Typo.h5">Deck with name @deck.Name</MudText>
                    <MudText Typo="Typo.body2">With a type of @deck.Type and it has @deck.Cards cards</MudText>
                </MudCardContent>
                <MudCardActions>
                    <MudButton Variant="Variant.Text" Color="Color.Info" @onclick="() => RedirectToFullView(deck.Id)">See More</MudButton>
                    <MudButton Variant="Variant.Text" Color="Color.Primary" @onclick="() => RedirectToEdit(deck.Id)">Edit</MudButton>
                    <MudButton Variant="Variant.Text" Color="Color.Error" @onclick="() => Delete(deck.Id)">Delete</MudButton>
                </MudCardActions>
            </MudCard>
        </MudItem>
    }
</MudGrid>
<MudButton Variant="Variant.Text" StartIcon="@Icons.Filled.Add" Color="Color.Primary" @onclick="() => Redirect()">Add</MudButton>

@code {
    AllDeckViewModel Model;

    protected override void OnInitialized()
    {
        Model = new AllDeckViewModel();
        DecksController decksController = new DecksController(dbcontext);
        Model.Decks = decksController.GetAll(dbcontext).Decks;

    }

    void RedirectToFullView(string id)
    {
        navManager.NavigateTo($"/deck/show/{id}");
    }

    void RedirectToEdit(string id)
    {
        navManager.NavigateTo($"/deck/edit/{id}");
    }

    void Delete(string id)
    {
        DecksController decksController = new DecksController(dbcontext);
        decksController.Delete(id);
    }

    void Redirect()
    {
        navManager.NavigateTo("/decks/add");
    }


}

