@page "/card/edit/{id}"
@using CardDungeonBlazor.Models;
@using CardDungeonBlazor.Controls;
@inject CardDungeonBlazor.Data.ApplicationDbContext dbcontext;
@inject NavigationManager navManager;

<h1>Edit card</h1>

<EditForm Model="@Model" OnValidSubmit="Submit">
    <DataAnnotationsValidator />
    <MudCard Class="pa-4">
        <MudCardContent>
            <MudTextField Label="Name" Class="mt-3"
                          @bind-Value="Model.Name" For="@(() => Model.Name)" />
            <MudTextField Label="Description" Class="mt-3"
                          @bind-Value="Model.Description" For="@(() => Model.Description)" />
            <MudTextField Label="Image Url" Class="mt-3"
                          @bind-Value="Model.ImageUrl" For="@(() => Model.ImageUrl)" />
            <MudTextField Label="Value" Class="mt-3"
                          @bind-Value="Model.Value" For="@(() => Model.Value)" InputType="InputType.Number" />
            <MudItem xs="12" sm="6" md="4" Class="mt-3">
                <MudSelect T="int" Label="Type" Strict="true" Variant="Variant.Outlined" Format="F2" @bind-Value="Model.CardTypeId">
                    @foreach (var cardType in Model.CardTypes)
                    {
                        <MudSelectItem T="int" Value="cardType.Id">@cardType.Name</MudSelectItem>

                    }
                </MudSelect>
            </MudItem>
        </MudCardContent>
        <MudCardActions>
            <MudButton ButtonType="ButtonType.Submit" Variant="Variant.Filled" Color="Color.Primary" Class="ml-auto">Add Card</MudButton>
        </MudCardActions>
    </MudCard>
</EditForm>

@code{
    [Parameter]
    public string Id { get; set; }
    CardEditFomModel Model;

    protected override void OnInitialized()
    {
        Model = new CardEditFomModel();
        CardsControler cardsControler = new CardsControler(dbcontext);
        Model = cardsControler.GetEditFomModel(Id);

    }

    void Submit()
    {
        CardsControler cardsControler = new CardsControler(dbcontext);
        cardsControler.Edit(Id, Model);
        navManager.NavigateTo("/cards/all");
    }
}
