@page "/deck/edit/{id}"
@using CardDungeonBlazor.Models;
@using CardDungeonBlazor.Data.Models.Common
@using CardDungeonBlazor.Controls;
@inject CardDungeonBlazor.Data.ApplicationDbContext dbcontext;
@inject NavigationManager navManager;

@attribute [Authorize]

<h1>Add card to the database</h1>

<EditForm Model="@Model" OnValidSubmit="Submit">
    <DataAnnotationsValidator />
    <MudCard Class="pa-4">
        <MudCardContent>
            <MudTextField Label="Name" Class="mt-3"
                          @bind-Value="Model.Name" For="@(() => Model.Name)" />
            <MudTextField Label="Description" Class="mt-3"
                          @bind-Value="Model.Description" For="@(() => Model.Description)" />
            <MudRadioGroup @bind-SelectedOption="Model.DeckType">
                <MudRadio Color="Color.Primary" Option="@(DeckType.Public)">Public</MudRadio>
                <MudRadio Color="Color.Primary" Option="@(DeckType.Private)">Private</MudRadio>
            </MudRadioGroup>
        </MudCardContent>
        <MudCardActions>
            <MudButton ButtonType="ButtonType.Submit" Variant="Variant.Filled" Color="Color.Primary" Class="ml-auto">Edit</MudButton>
        </MudCardActions>
    </MudCard>
</EditForm>

@code{

    [Parameter]
    public string Id { get; set; }

    AddDeckFormModel Model;

    protected override void OnInitialized()
    {
        Model = new AddDeckFormModel();
        DecksController decksController = new DecksController(dbcontext);
        Model = decksController.GetDeck(Id);


    }

    void Submit()
    {
        DecksController decksController = new DecksController(dbcontext);
        decksController.Edit(Id,Model);
        navManager.NavigateTo($"/deck/addCards/{decksController.GetId(Model.Name)}");
    }
}
