@page "/decks/cards/{id}"
@using CardDungeonBlazor.Areas.Cards.Controllers
@inherits CardsInTheDeckController


<h3>See all cards in the deck</h3>
<MudGrid>
    @foreach (var card in Model)
    {
        <MudItem Class="d-flex align-center justify-center mud-width-full py-8" xs=3>
            <MudCard>
                <MudCardMedia Image="@card.Image.Img" />
                <MudCardContent>
                    <MudText Typo="Typo.h5">Card with name @card.Name</MudText>
                    <MudText Typo="Typo.body2">With a value of @card.Value @card.CardType.Name and a cost of @card.Cost energy</MudText>
                </MudCardContent>
                <MudCardActions>
                    <MudText Typo="Typo.body2">@card.TimesAddedInADeck</MudText>
                    <MudButton Variant="Variant.Text" StartIcon="@Icons.Filled.Add" Color="Color.Info" @onclick="() => RedirectToCardsFullView(card.Id)">Add card</MudButton>
                </MudCardActions>
            </MudCard>
        </MudItem>
    }
</MudGrid>
<MudButton Variant="Variant.Text" Color="Color.Primary" @onclick="() => RedirectToDeckFullView()">Go back to deck info</MudButton>
<MudButton Variant="Variant.Text" Color="Color.Primary" @onclick="() => RedirectToAllDecks()">Go back to all deck</MudButton>