@page "/deck/edit/{id}"
@using CardDungeonBlazor.Areas.Cards.Controlls
@using Data.Models.Common
@using Controllers
@inherits EditDecksController

@attribute [Authorize]

<h1>Add card to the database</h1>

<EditForm Model="@Model" OnValidSubmit="Submit">
    <DataAnnotationsValidator />
    <MudCard Class="pa-4">
        <MudCardContent>
            <MudTextField Label="Name" Class="mt-3"
                          @bind-Value="Model.Name" For="@(() => Model.Name)" />
            <MudTextField Label="Description" Class="mt-3"
                          @bind-Value="Model.Description" For="@(() => Model.Description)" />
            <MudRadioGroup @bind-SelectedOption="Model.DeckType">
                <MudRadio Color="Color.Primary" Option="@(DeckType.Public)">Public</MudRadio>
                <MudRadio Color="Color.Primary" Option="@(DeckType.Private)">Private</MudRadio>
            </MudRadioGroup>
        </MudCardContent>
        <MudCardActions>
            <MudButton ButtonType="ButtonType.Submit" Variant="Variant.Filled" Color="Color.Primary" Class="ml-auto">Edit</MudButton>
        </MudCardActions>
    </MudCard>
</EditForm>
